body, html {
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-color: #1a1929;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: #151521;
    color: white;
    padding: 40px;
    margin-top: 40px;
    flex-grow: 1;
    max-width: 750px;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .users .item {
    min-height: 100px;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    background-color: #1a1929;
    padding: 40px;
    transition: all .3s ease;
  }

  .users .item + .item {
    margin-left:4%;
  }

  .users .item img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .item:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #1a2131;
    background-color: #151521;
    color: #5897db;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #5897db;
    color: #1a1929;
  }

  @media only screen and (max-width: 428px) {
    .users {
        display: block;
    }

    .users .item {
        max-width: 100%;
        
    }

    .users .item + .item {
        margin-left: 0px;
    }
  }